<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DaemonUrl" value="http://127.0.0.1:8555" />
    <add key="CookiePath" value="%APPDATA%/DeFi Blockchain/.cookie" />
    <add key="MinimumConvertingAmount" value="1" />
    <add key="RpcRequestTimeoutInSeconds" value="10" />
    <add key="WaitForInputBeforeExit" value="true" />
    <add key="AskBeforeChange" value="true" />
  </appSettings>
</configuration>